@using MvcPaging
@model IPagedList<MvcPagingDemo.Models.Employee>
@{
    ViewBag.Title = "MVC 4 Paging Without Ajax Bootstrap";
}
<div class="row">
    <div class="span7">
        <h2>
            Paging With Bootstrap In MVC 4</h2>
    </div>
    <div class="span3">
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_facebook"></a><a class="addthis_button_twitter"></a><a class="addthis_button_pinterest_share">
            </a><a class="addthis_button_google_plusone_share"></a><a class="addthis_button_compact">
            </a><a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
        <!-- AddThis Button END -->
    </div>
</div>
<div class="clearfix">
</div>
@using (Html.BeginForm("Paging", "Home", FormMethod.Get))
{
    <div class="input-append">
        <input class="span2" id="appendedInputButton" type="text" name="employee_name" placeholder="Name" value="@ViewData["employee_name"]"/>
        <button class="btn" type="submit">
            <i class="icon-search"></i>&nbsp;Search</button>
    </div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Phone
                </th>
                <th>
                    City
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            { 
                <tr>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Phone
                    </td>
                    <td>
                        @item.City
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="pager">
        @Html.Raw(Html.Pager(
            new Options
            {
                PageSize = Model.PageSize,
                TotalItemCount = Model.TotalItemCount,
                CurrentPage = Model.PageNumber,
                ItemTexts = new ItemTexts() { Next = "Next", Previous = "Previous" },
                TooltipTitles = new TooltipTitles() { Next = "Next page", Previous = "Previous page", Page = "Page" },
                Size = Size.normal,
                Alignment = Alignment.centered,
                IsShowControls = true
            }, new { employee_name = ViewData["employee_name"] }))
    </div>
}
<div>
    <div class="well">
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span class="GramE"><span style="font-size: 9.5pt; font-family: Consolas; background: yellow;
                mso-highlight: yellow">@@</span><span class="SpellE"><span style="font-size: 9.5pt;
                    font-family: Consolas">Html.Raw</span></span><span style="font-size: 9.5pt; font-family: Consolas">(</span></span><span
                        class="SpellE"><span style="font-size: 9.5pt; font-family: Consolas">Html.Pager</span></span><span
                            style="font-size: 9.5pt; font-family: Consolas">(<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="GramE">
                    <span style="color: blue">new</span></span> <span style="color: #2B91AF">Options</span><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>{<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span class="SpellE">PageSize</span> = <span class="SpellE">Model.PageSize</span>,<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span class="SpellE">TotalItemCount</span> = <span class="SpellE">Model.TotalItemCount</span>,<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span class="SpellE">CurrentPage</span> = <span class="SpellE">Model.PageNumber</span>,<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span class="SpellE">ItemTexts</span> = <span style="color: blue">new</span>
                <span class="SpellE"><span class="GramE"><span style="color: #2B91AF">ItemTexts</span></span></span><span
                    class="GramE">(</span>) { Next = <span style="color: #A31515">"Next"</span>,
                Previous = <span style="color: #A31515">"Previous"</span> },<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span class="SpellE">TooltipTitles</span> = <span style="color: blue">new</span>
                <span class="SpellE"><span class="GramE"><span style="color: #2B91AF">TooltipTitles</span></span></span><span
                    class="GramE">(</span>) { Next = <span style="color: #A31515">"Next page"</span>,
                Previous = <span style="color: #A31515">"Previous page"</span>, Page = <span style="color: #A31515">
                    "Page"</span> },<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Size = <span class="SpellE"><span style="color: #2B91AF">Size</span>.normal</span>,<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </span>Alignment = <span class="SpellE"><span style="color: #2B91AF">Alignment</span>.centered</span>,<o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span style="mso-spacerun: yes">
                    &nbsp;&nbsp;&nbsp;&nbsp;</span><span class="SpellE">IsShowControls</span> =
                <span style="color: blue">true</span><o:p></o:p></span></p>
        <p class="MsoNormal" style="margin-bottom: 0cm; margin-bottom: .0001pt; line-height: normal;
            mso-layout-grid-align: none; text-autospace: none">
            <span style="font-size: 9.5pt; font-family: Consolas"><span style="mso-spacerun: yes">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>}, <span
                    style="color: blue">new</span> <span class="GramE">{ <span class="SpellE">employee</span></span><span
                        class="SpellE">_name</span> = <span class="SpellE">ViewData</span>[<span style="color: #A31515">"<span
                            class="SpellE">employee_name</span>"</span>] }))<o:p></o:p></span></p>
        <p class="MsoNormal">
            <o:p>&nbsp;</o:p>
        </p>
    </div>
</div>
